---
services:
  main:
    image: docker.io/dmotte/xfwd:latest
    build: build
    restart: always
    volumes:
      - /tmp/.X11-unix/X0:/opt/xfwd/host.sock:ro
      - ${XAUTHORITY:?}:/opt/xfwd/host.xauth:ro
    environment:
      MAINUSER_NOPASSWORD: "true"
